/vendor/
/node_modules/
/.idea/
/.idea/laravel-idea-personal.xml
/.idea/laravel-idea.xml
/.fleet/

/.phpunit.result.cache
/.php-cs-fixer.cache
/.pest.cache
/coverage/

.DS_Store
.styleci.yml
test.json

/.temp/phpunit-cache/test-results
